<footer class="bg-light text-dark mt-5 pt-4 pb-3 border-top">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3">
        <h5>NodeJS Blog</h5>
        <p class="mb-1">Chia sẻ kiến thức lập trình NodeJS, Express, Handlebars.</p>
        <small>&copy; 2025 Sang Tran Ngoc</small>
      </div>
      <div class="col-md-4 mb-3">
        <h5>Liên kết</h5>
        <ul class="list-unstyled">
          <li><a href="/" class="text-dark">Trang chủ</a></li>
          <li><a href="/about" class="text-dark">Giới thiệu</a></li>
          <li><a href="/contact" class="text-dark">Liên hệ</a></li>
        </ul>
      </div>
      <div class="col-md-4 mb-3">
        <h5>Theo dõi chúng tôi</h5>
        <a href="#" class="text-dark mr-2">Facebook</a>
        <a href="#" class="text-dark mr-2">Twitter</a>
        <a href="#" class="text-dark">LinkedIn</a>
      </div>
    </div>
  </div>
</footer>