<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-10 col-lg-8">
      <div class="card shadow-sm">
        <div class="card-body">
          <h2 class="card-title text-center mb-4">Về NodeJS Blog</h2>
          <p class="lead text-center">
            <strong>NodeJS Blog</strong>
            là nơi chia sẻ kiến thức, kinh nghiệm và tài nguyên về lập trình
            <span class="text-success font-weight-bold">NodeJS</span>,
            <span class="text-primary font-weight-bold">Express</span>
            và
            <span class="text-warning font-weight-bold">Handlebars</span>.
          </p>
          <hr />
          <ul class="list-unstyled mb-4">
            <li><i class="fa fa-check text-success mr-2"></i>
              Hướng dẫn từng bước xây dựng ứng dụng NodeJS thực tế</li>
            <li><i class="fa fa-check text-success mr-2"></i>
              Chia sẻ mẹo, thủ thuật và best practice cho lập trình backend</li>
            <li><i class="fa fa-check text-success mr-2"></i>
              Cộng đồng hỗ trợ, hỏi đáp và phát triển kỹ năng lập trình</li>
          </ul>
          <div class="text-center mb-3">
            <img
              src="https://nodejs.org/static/images/logo.svg"
              alt="NodeJS Logo"
              width="80"
              class="mb-2"
            />
          </div>
          <p class="text-center">
            <strong>Tác giả:</strong>
            Sang Tran Ngoc
            <br />
            <strong>Email:</strong>
            <a
              href="mailto:tranngocsang147877@gmail.com"
            >tranngocsang147877@gmail.com</a>
          </p>
          <div class="text-center mt-3">
            <a href="/" class="btn btn-outline-success">Quay về trang chủ</a>
            <a href="/contact" class="btn btn-primary ml-2">Liên hệ</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>